In [5]:
import numpy as np
import pandas as pd
!pip install xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.6/dist-packages (1.1.0)

In [6]:
from google.colab import files

uploaded = files.upload()

Saving Data Thailand HR_analysis.xlsx to Data Thailand HR_analysis (2).xlsx

In [0]:
xls = pd.ExcelFile('Data Thailand HR_analysis.xlsx')
df = pd.read_excel(xls, 'For Model_to export_v3')

In [0]:
df.head()

,Serial Number,Gender,Supervisor Serial,SUP-Gender (before),SUP-Gender,Re-Entry?,Active?,MPT?,Ed Allowance?,House Loan?,...,Action Date,SUP-Birthday,SUP-Entry Date,SUP-Action Date,SUP-Active?,Earliest Action Date,Age @Action,Exp @Action,SUP-Age @Action,SUP-Exp @Action
0,1,M,364.0,M,M,NO,NO,YES,NO,NO,...,1998-11-01,1953-10-01,1981-04-01,2001-11-01,NO,OK,60.126027,43.778082,45.115068,17.59726
1,2,M,NaN,NaN,NaN,NO,NO,YES,NO,NO,...,1998-05-01,NaT,NaT,NaT,NaN,OK,56.205479,38.356164,0.000000,0.00000
2,3,M,NaN,NaN,NaN,NO,NO,NO,NO,NO,...,1998-06-01,NaT,NaT,NaT,NaN,OK,60.041096,39.654795,0.000000,0.00000
3,4,F,NaN,NaN,NaN,NO,NO,YES,NO,NO,...,2000-03-01,NaT,NaT,NaT,NaN,OK,58.202740,38.273973,0.000000,0.00000
4,5,M,NaN,NaN,NaN,NO,NO,YES,NO,NO,...,2000-03-01,NaT,NaT,NaT,NaN,OK,61.120548,39.104110,0.000000,0.00000

In [0]:
df.drop(['Supervisor Serial', 'SUP-Gender (before)',
       'Re-Entry?', 'Active?', 'MPT?', 'Ed Allowance?',
       'House Loan?', 'Resign?', 'Birthday', 'Entry Date', 'Action Date',
       'SUP-Birthday', 'SUP-Entry Date', 'SUP-Action Date', 'SUP-Active?',
       'Earliest Action Date',
       'SUP-Exp @Action'], axis=1, inplace=True)

In [0]:
rename_col = {
    'SUP-Gender':'SupGender',
    'Age @Action':'EmpAge',
    'SUP-Age @Action':'SupAge'
}
df.rename(rename_col, axis=1, inplace=True)

In [0]:
df['DiffAge'] = df['EmpAge'] - df['SupAge']
#Have Sup Age = 1 , not have = 0
df['HaveSupAge'] = np.where(df['SupAge']!=0,1,0)
df['isSupYounger'] = np.where((df['HaveSupAge'] == 1) & (df['DiffAge']>0), 1, 0)

In [0]:
conditions = [
    (df['Gender'] == 'M') & (df['SupGender'] == 'M'),
    (df['Gender'] == 'M') & (df['SupGender'] == 'F'),
    (df['Gender'] == 'F') & (df['SupGender'] == 'M'),
    (df['Gender'] == 'F') & (df['SupGender'] == 'F'),
]

choices = [1,2,3,4]

df['GenderDif'] = np.select(conditions,choices, 0)

In [0]:
df.drop(['Gender', 'SupGender',
       'EmpAge', 'Exp @Action', 'SupAge'], axis=1, inplace=True)

In [26]:
df.head(10)

   Serial Number    DiffAge  HaveSupAge  isSupYounger  GenderDif
0              1  15.010959           1             1          1
1              2  56.205479           0             0          0
2              3  60.041096           0             0          0
3              4  58.202740           0             0          0
4              5  61.120548           0             0          0
5              6   7.419178           1             1          2
6              7  61.126027           0             0          0
7              8  -0.082192           1             0          1
8              9  61.041096           0             0          0
9             10  57.369863           0             0          0

In [0]:
df.to_csv('Additional_TH_Workforce.csv')

In [0]:
from google.colab import files
files.download('Additional_TH_Workforce.csv')